html,body {
    height: 100%;
}
body,div,p,span,h1,h2,h3,h4,a,input,img,i,u,del {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a {
    text-decoration: none;
}
input,img{
    border: none
}
input{
    outline:none;
}
